.name{
    font-weight: bold;
    color: #797777;
    margin-left: 60px;

}

ion-card-title{
    font-size: 15px;
    color:#0e8cf3;
}
ion-avatar img{
    margin-top: 10px;
    margin-left: 135px;
}

ion-label{
    font-size: 20px;
    margin-left: 20px;
}


p{
    color: #969696;
    font-size: 12px;
    text-align: center;
}

.profile_n{
    font-size: 20px;
    color: #969696;
    text-align: center;
}