.name{
    text-align: center;
    color: #333;
    font-weight: bold;
}

h5{
    text-align: center;
    color: #969696;
}

ion-button{
    --background: #969696;
}

.btn-one{
    margin-top: 50px;
}

.form{
    padding: 10px;
    margin-top: 50%;
}

.forgetPass{
    text-align: center;
    color: #969696;
    margin-top: 15px;

}