.name{
    text-align: center;
    color: #333;
    font-weight: bold;
}


h5{
    text-align: center;
    color: #969696;
}
ion-button{
    --background: #969696;
}

.btn-one{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

ion-icon{
    color: #969696;
}


.form{
    padding: 10px;
    margin-top: 30%;
}

.paragraph{
    text-align: center;
    color: #969696;
    margin-top: 50px;
}