<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title class="name">ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    MovieStore is the bold hub provides you HD Hollywood Movies,
    Action Movies, Strategies Movies, Traditional Movies, Motivational Movies 
    and Web series Like Netflix Also Available In Dual Audio (English-Hindi).
    480p, 720p, 1080p, and 4k All resolutions are available only here.
    Download them for free of cost and enjoy watching movies and web series.
  </p>

  <p>
    MovieStore Is Best Platform For Bollywood And Hollywood HD Movies.
  </p>

  <p>
    We Sharing Here Direct Download Links Without Any Irritating Ads.
  </p>

  <p>
    Here We Share Various Filesharing Sites Links For One Movie In Many Quality
    Like Bluray, HDRip, BRRip, WeB-DL, etc.
  </p>
</ion-content>